/*colors-
Main Green: #61b34f
Light Green: #82c276
*/


.calculator-container{
  display: flex;
  flex-direction: column;
  height: 60vw;
  max-height: 648px;
  width: 48vw;
  max-width: 518.4px;
  outline: black solid 1px;
  background-color: #61b34f;
}

.calculator-row{
  display: flex;
  height: 12vw;
}

.square{
  outline: white solid 1px;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  font-size: 7vw;
}

.empty{
  flex-grow: 1;
}

.operator{
  background-color: #82c276;
}

.equals, .decimal{
background-color: #61b34f;
}

.operator:hover, .number{
  color: white;
}

#clear:hover, .equals:hover{
  background-color: #82c276;
}

#numbersDisplay{
  flex-grow: 1;
  justify-content: flex-end;
  font-size: 5vw;
}

.modulo, #√{
  font-size: 3vw;
}

@media screen and (min-width: 1080px) {
  .square{
    font-size: 75.6px;
  }
  #numbersDisplay{
    font-size: 54px;
  }
  .modulo, #√{
    font-size: 32.4px;
  }
}
