/*colors-
Main Green: #61b34f
Light Green: #82c276
*/
/* TODO: Number Size scalaable */


.calculator-container{
  display: flex;
  flex-direction: column;
  height: 60vw;
  width: 48vw;
  outline: black solid 1px;
  background-color: #61b34f;
}

.calculator-row{
  display: flex;
  height: 12vw;
}

.square{
  outline: white solid 1px;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  font-size: 4.5rem;
}

.operator{
  background-color: #82c276;
}

.equals{
background-color: #61b34f;
}

.operator:hover, .number{
  color: white;
}

#clear:hover, .equals:hover{
  background-color: #82c276;
}

#numbersDisplay{
  flex-grow: 1;
  justify-content: flex-end;
  font-size: 5vw;
}

#mod{
  font-size: 2rem;
}

#sqrt{
  font-size: 2rem;
}
