/*colors-
Main Green: #61b34f
Light Green: #82c276
*/



.calculator-container{
  display: flex;
  flex-direction: column;
  height: 60vw;
  width: 48vw;
  outline: black solid 1px;
  background-color: #61b34f;
}

.calculator-row{
  display: flex;
  height: 12vw;
}

.square{
  outline: white solid 1px;
  width: 12vw;

  flex-basis: 25%;
}

.operator{
  background-color: #82c276;
}

#numbersDisplay{
  flex-grow: 5;
}
